
.formandstream {
    text-align: left;
}
.vertical {
    text-align: center;
    white-space: nowrap;
    g-origin: 50% 50%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
    td.vertical p {
        font-size: xx-large;
        font-weight: bold;
        display: inline-block;
    }
        td.vertical p:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
        }
table {
    text-align: left;
    table-layout: fixed;
}
table.minimalistBlack {
    border: 3px solid #808080;
    width:fit-content;
    text-align: center;
    border-collapse: collapse;
}

    table.minimalistBlack td, table.minimalistBlack th {
        border: 1px solid #808080;
        padding: 5px 4px;
    }

    table.minimalistBlack tbody td {
        font-size: 13px;
    }

    table.minimalistBlack thead {
        border-bottom: 3px solid #808080;
    }

        table.minimalistBlack thead th {
            font-size: 15px;
            font-weight: bold;
            color: #000000;
            text-align: left;
        }

    table.minimalistBlack tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        border-top: 3px solid #808080;
    }

        table.minimalistBlack tfoot td {
            font-size: 14px;
        }
