td.break {
    background: #acecf7;
}

table.minimalistBlack {
    border: 3px solid #808080;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

    table.minimalistBlack td, table.minimalistBlack th {
        border: 1px solid #808080;
        padding: 5px 4px;
    }

    table.minimalistBlack tbody td {
        font-size: 13px;
    }

    table.minimalistBlack thead {
        border-bottom: 3px solid #808080;
    }

        table.minimalistBlack thead th {
            font-size: 15px;
            font-weight: bold;
            color: #000000;
            text-align: left;
        }

    table.minimalistBlack tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        border-top: 3px solid #808080;
    }

        table.minimalistBlack tfoot td {
            font-size: 14px;
        }
