@page "/Pages/Student"

@inject HttpClient httpClient;
@inject IStudentData _studentData;
@inject IFormData _formData;
@inject IStreamData _streamData;
@inject ISessionYearData _sessionYearData;


<p>
    <MudText Typo="Typo.h6"> View Students</MudText>
</p>

<MudGrid>
    <MudItem xs="6" sm="3">
        <MudCard>
            <MudCardActions>
                <MudSelect T="string" Label="Session Year" Variant="Variant.Outlined" @bind-Value="selectedSessionYear">
                    @foreach (SessionYearModel sessionYearModel in sessionYearModels)
                    {
                        <MudSelectItem Value="sessionYearModel.SessionYear" />
                    }
                </MudSelect>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudCard>
            <MudCardActions>
                <MudSelect T="int" Label="Class" Variant="Variant.Outlined" @bind-Value="selectedForm">
                    @foreach (FormModel formModel in formModels)
                    {
                        <MudSelectItem Value="formModel.Form" />
                    }
                </MudSelect>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudCard>
            <MudCardActions>
                <MudSelect T="string" Label="Stream" Variant="Variant.Outlined" @bind-Value="selectedStream">
                    @foreach (StreamModel streamModel in streamModels)
                    {
                        <MudSelectItem Value="streamModel.Stream"/>
                    }
                </MudSelect>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Total Students</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>...45...</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="16">
        <MudDataGrid Items="@students.Take(5)">
            <Columns>
                <PropertyColumn Property="newStudent => newStudent.StudentNumber" Title="Student Number" />
                <PropertyColumn Property="newStudent => newStudent.FirstName" Title="First Name" />
                <PropertyColumn Property="newStudent => newStudent.MiddleName" Title="Middle Name" />
                <PropertyColumn Property="newStudent => newStudent.Surname" Title="Surname" />
                <PropertyColumn Property="newStudent => newStudent.DateOfBirth.ToShortDateString()" Title="Date of Birth" />
                <PropertyColumn Property="newStudent => newStudent.AdmissionDate.ToShortDateString()" Title="Admission Date" />
            </Columns>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private int lastForm = 0;
    private string lastStream =string.Empty;
    private List<StudentModel> students { get; set; } = new();
    private List<FormModel> formModels { get; set; } = new();
    private List<StreamModel> streamModels { get; set; } = new();
    private List<SessionYearModel> sessionYearModels { get; set; } = new();
    private string selectedStream;
    private string selectedSessionYear;
    private int selectedForm;
    private SessionYearModel sessionYearModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        students = await _studentData.GetStudent();
        formModels = await _formData.GetAllForms();
        streamModels = await _streamData.GetAllStreams();
        sessionYearModels = await _sessionYearData.GetAllSessionYears();
        sessionYearModel = await _sessionYearData.FindSessionYear(selectedSessionYear);
    }
}
