@page "/Pages/Timetable"

<link href="css/App.css" rel="stylesheet" />

<MudGrid Class="mt-n12 px-5">
    <MudItem xs="9">
        <MudText Typo="Typo.h5" Class="d-flex justify-start">TIMETABLE</MudText>
    </MudItem>
    <MudItem xs="3" Class="d-flex justify-end">
        <MudIconButton Icon="@Icons.Material.Filled.Message" Color="Color.Inherit" Edge="Edge.End" />
        <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Edge="Edge.End" />
    </MudItem>
</MudGrid>
<MudDivider DividerType="DividerType.FullWidth" />

<table class="minimalistBlack">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>8:00 - 8:40</th>
            <th>8:40 - 9:20</th>
            <th>9:20 - 9:30</th>
            <th>9:30 - 10:10</th>
            <th>10:10 - 10:50</th>
            <th>10:50 - 11:20</th>
            <th>11:20 - 12:00</th>
            <th>12:00 - 12:40</th>
            <th>12:40 - 1:20</th>
            <th>1:20 - 2:00</th>
            <th>2:00 - 2:40</th>
            <th>2:40 - 3:20</th>
            <th>3:20 - 4:00</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="9">MONDAY</th>
        </tr>
        <tr>
            <th>1K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>2W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>3K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <th>4K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th rowspan="9">TUESDAY</th>
        </tr>
        <tr>
            <th>1K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th rowspan="9">WEDNESDAY</th>
        </tr>
        <tr>
            <th>1K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th rowspan="9">THURSDAY</th>
        </tr>
        <tr>
            <th>1K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th rowspan="9">FRIDAY</th>
        </tr>
        <tr>
            <th>1K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>2W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>3W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4K</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4W</th>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="break"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>